html{
	-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
	box-sizing:border-box
}*,*:before,*:after{
	box-sizing:inherit
}

img{
	margin:0
}
h1{
	text-shadow: 4px 4px #000000;
}
body{
	margin:0;
	height:auto;
	width:100%;
	position: fixed; 
    overflow-y: hidden;
}
img{
	max-height:100%;
	max-width:100%;
}
.btn-format{
	border-radius:5px;
}
.display-topleft{
	position:absolute;left:0;top:0
}
.display-topright{
	position:absolute;right:0;top:0
}
.display-bottomleft{
	position:absolute;left:0;bottom:0
}
.display-bottommiddle{
	position:absolute;left:20%;bottom:0px;
}
.container{
	padding:0.01em
}
.start-format{
	z-index:4;
	width:100%;
}
.main-format{
	z-index:2;
	width:100;
}
.chatlog-format{
	z-index:3;
	width:60%;
	height:10%
}
.minimap-format{
	z-index:3;
}
.btn{
	border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;
	text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap; 
	box-shadow:none;background-color:inherit;color:inherit;float:left
}
.yellowGreen,.yellowGreen-hover:hover{
	color:#fff!important;background-color:#99ff66!important
}
.yellowGreen-hover:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.2)
}
.large{
	font-size:36px!important
}
